<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.souhardkataria.ruralt">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="STORAGE_SERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".display_profile"></activity>
        <activity android:name=".my_account_mypackages" />
        <activity android:name=".Faq" />
        <activity android:name=".Forum" />
        <activity android:name=".packages_2" />
        <activity android:name=".VisitReview" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".change_pass" />
        <activity android:name=".TGDataForAdmin" />
        <activity android:name=".myAccount_wishlist" />
        <activity android:name=".Displayeat" />
        <activity android:name=".Displayvisit" />
        <activity android:name=".Visitactivity" />
        <activity android:name=".Eatactivity" />
        <activity android:name=".guidedash" />
        <activity android:name=".guide_noti" />
        <activity android:name=".grate" />
        <activity android:name=".rating" />
        <activity android:name=".packages" />
        <activity android:name=".Search" />
        <activity android:name=".wallet" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Rural_Traveller"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".ForumAnswer"/>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchPage"
            android:label="SearchPage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DisplayMessageActivity2"
            android:label="@string/title_activity_display_message2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".userdash"
            android:label="@string/title_activity_userdash"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".editprofile"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".admindash"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Adminlogin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".guidesuccess"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".registertravelguide"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".travelguidelogin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VillageHome"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StayActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DisplayStay"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DescriptionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>